<nav class="navbar navbar-expand-lg  new-bg navbar-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="container" class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- <a href="#" class="navbar-brand">Angular Crud</a> -->
         <a class="navbar-brand" href="index.html">
          <h2 class="text-logo text-capitalize mytext"><span class="text-color ">T</span>HUNT</h2>
        </a>  
        <!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="add-requirement" class="nav-link text-white">
                    <button class="btn mybtn">ADD REQUIREMENT</button>
                </a>
            </li>
        </ul> -->
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a routerLink="add-requirement" class="nav-link">Addrequirement</a>
            </li>
            <li class="nav-item">
                <a routerLink="job-list" class="nav-link">Joblist</a>
            </li>
            <li class="nav-item">
                <a routerLink="allcandidate" class="nav-link">Candidate</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> Anil &nbsp;
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" style="height: 30px;" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

