<div class="container mt-4 mb-2 myborder" style="padding:5px 25px;border-radius: 15px;">
    <form [formGroup]='myForm' (ngSubmit)='onsubmit()'>
        <div class="row card-body mt-2  mycard shodow" id="row1">
            <div class="col col-12  col-md-6">
                    <input type="hidden" name="reqId" formControlName="reqId" class="form-control inputText" >
                <div class="form-group ty-font user-input-wrp" ><br>
                    <input type="text" name="clientName" formControlName="clientName" class="form-control inputText inputText" [class.is-invalid]="clientName.invalid && clientName.touched" [class.is-valid]="clientName.valid" required>
                    <span class="floating-label">Client Name</span>
                    <div *ngIf="clientName.invalid && clientName.touched">
                        <small class="text-danger" *ngIf="clientName.errors?.required">Client name shoud be required*</small>
                    </div>
                </div>
            </div>
             <div class="col col-12  col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <input type="text" name="clientshortName" formControlName="clientshortName" class="form-control inputText" [class.is-invalid]="clientshortName.invalid && clientshortName.touched" [class.is-valid]="clientshortName.valid" required>
                    <span class="floating-label">Short Name:</span>
                    <div *ngIf="clientshortName.invalid && clientshortName.touched">
                        <small class="text-danger" *ngIf="clientshortName.errors?.required">Client short name shoud be required*</small>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <input type="text" name="title" formControlName="title" class="form-control inputText" [class.is-invalid]="title.invalid && title.touched" [class.is-valid]="title.valid" required>
                    <span class="floating-label">Job Title:</span>
                    <div *ngIf="title.invalid && title.touched">
                        <small class="text-danger" *ngIf="title.errors?.required">Title shoud be required*</small>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <input type="text" name="qualification" formControlName="qualification" class="form-control inputText" [class.is-invalid]="qualification.invalid && qualification.touched" [class.is-valid]="qualification.valid" required>
                    <span class="floating-label">Qualification:</span>
                    <div *ngIf="qualification.invalid && qualification.touched">
                        <small class="text-danger" *ngIf="qualification.errors?.required">Qualification shoud be required*</small>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <input type="number" name="positions" formControlName="positions" class="form-control inputText" [class.is-invalid]="positions.invalid && positions.touched" [class.is-valid]="positions.valid" required>
                    <span class="floating-label">Positions:</span>                     
                    <div *ngIf="positions.invalid && positions.touched">
                        <small class="text-danger" *ngIf="positions.errors?.required"> No. of positions shoud be required*</small>
                    </div>
                </div>  
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <input type="text" name="location" formControlName="location" class="form-control inputText" [class.is-invalid]="location.invalid && location.touched" [class.is-valid]="location.valid" required>
                    <span class="floating-label">Location:</span>                     
                    <div *ngIf="location.invalid && location.touched">
                        <small class="text-danger" *ngIf="location.errors?.required">Location shoud be required*</small>
                    </div>
                </div>
            </div>
            <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i> 
        </div> 

          <div class="row card-body mt-2 mycard " id="row2">
            <div class="col col-12 col-md-12">
                <div class="form-group ty-font user-input-wrp">
                    <textarea class="form-control inputText" rows="3" formControlName='description' [class.is-invalid]="description.invalid && description.touched" [class.is-valid]="description.valid" required></textarea>
                    <span class="floating-label">Description:</span>                     
                    <div *ngIf="description.invalid && description.touched">
                        <small class="text-danger" *ngIf="description.errors?.maxlength">Password contain at least 5 character</small>
                        <small class="text-danger" *ngIf="description.errors?.required">Field should be Required</small>
                    </div>
                </div>  
            </div>
            <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>
        </div>
         
        <div class="row card-body mt-2 mycard " id="row3">
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp">
                    <input type="date"   name="startDate"    formControlName="startDate" class="form-control inputText"  [class.is-invalid]="startDate.invalid && startDate.touched" [class.is-valid]="startDate.valid" required>
                    <span class="floating-label">Start date::</span>                     
                    <div *ngIf="startDate.invalid && startDate.touched">
                        <small class="text-danger" *ngIf="startDate.errors?.required">startDate should be Required</small>
                    </div>
                </div>  
            </div>
             <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp">
                    <input type="date"   name="endDate" formControlName="endDate" class="form-control inputText"  (ngModelChange)='compareTwoDates($event)' [class.is-invalid]="endDate.invalid && endDate.touched || error.isError" [class.is-valid]="endDate.valid && !error.isError" required>
                    <span class="floating-label">End Date:</span>                      
                    <small *ngIf="error.isError" class="text-danger">{{ error.errorMessage }}</small>
                    <div *ngIf="endDate.invalid && endDate.touched">
                        <small class="text-danger" *ngIf="endDate.errors?.required">startDate should be Required</small>
                    </div>
                </div>  
            </div> 
             <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp">
                    <input type="number" name="salaryFrom" formControlName="salaryFrom" class="form-control inputText" [class.is-invalid]="salaryFrom.invalid && salaryFrom.touched" [class.is-valid]="salaryFrom.valid" required>
                    <span class="floating-label">Yr-Exp:</span>                      
                    <div *ngIf="salaryFrom.invalid && salaryFrom.touched">
                        <small class="text-danger" *ngIf="salaryFrom.errors?.required">Field should be Required</small>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp">
                    <input type="number" name="salaryTo" formControlName="salaryTo" class="form-control inputText" [class.is-invalid]="salaryTo.invalid && salaryTo.touched" [class.is-valid]="salaryTo.valid" required>
                    <span class="floating-label">Ratecard From:</span>   
                    <div *ngIf="salaryTo.invalid && salaryTo.touched">
                        <small class="text-danger" *ngIf="salaryTo.errors?.required">Field should be Required</small>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp">
                    <input type="number" name="yearOfExp" formControlName="yearOfExp" class="form-control inputText" [class.is-invalid]="yearOfExp.invalid && yearOfExp.touched" [class.is-valid]="yearOfExp.valid" required>
                    <span class="floating-label">Ratecard To:</span> 
                    <div *ngIf="yearOfExp.invalid && yearOfExp.touched">
                        <small class="text-danger" *ngIf="yearOfExp.errors?.required">Field should be Required</small>
                    </div>
                </div>
            </div> 
            <div class="col col-12 col-md-6">
                <div class="form-group ty-font user-input-wrp"><br>
                    <select class="form-control inputText input-lg"  formControlName="status" [class.is-invalid]="status.invalid && status.touched" [class.is-valid]="status.valid" required>
                        <option value="Active">Active
                        <option value="In-Active">In-Active
                        <option value="On-Hold">On-Hold
                    </select>
                    <span class="floating-label">Status:</span> 
                    <div *ngIf="status.invalid && status.touched">
                        <small class="text-danger" *ngIf="status.errors?.required">status should be Required</small>
                    </div>
                </div>
          </div>
            <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>
        </div> 
 
        <div formArrayName='skills' id="row4" class=" row mycard card-body mt-2 ">
            <span *ngIf='showBtn' style="padding: 10px;margin-top: -10px;">Add Skills</span>
            <div *ngFor="let control of skills.controls; index as i" style="width:100%;">
                <div class="row" style="background: ; padding-left: 10px;">
                    <div class="col col-md-8" >
                        <div class="form-group ty-font user-input-wrp">
                            <input type="text" name="skill" [formControlName]='i' class="form-control inputText inputText" [class.is-invalid]="skills.invalid && skills.touched" [class.is-valid]="skills.valid">
                            <span class="floating-label">Skill Set:</span> 
                            <div *ngIf="control.invalid">
                                <small class="text-danger" *ngIf="skills.errors?.required">Field should be Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px"   (click)='addSkills($event,i)'>+</button> &nbsp;
                        <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px" (click)='removeSkills(i)'>-</button>
                    </div>
                </div>
            </div>
            <button type="button" *ngIf='showBtn' class="btn btn-sm btn-outline-secondary mybtn" style="margin-top:34px;position: absolute;top:-265x;left: 105px;margin-top:-3px" (click)='addSkills1()'>+</button> &nbsp;
            <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>
        </div>  

        <div class="row  mt-2">
            <div class="col col-md-12 ">
                <button type="submit" class="btn  btn-primary  mt-1 float-right" [disabled]="!myForm.valid || error.isError" >submit</button>
            </div>
        </div>
    </form>
</div>




    
            
    <ngx-spinner name="sp3" [fullScreen]="true" type="ball-spin-clockwise" size="medium" bdColor="black" color="white" style="opacity: 0.8;">
        <p style=" color: white">Loading...</p>
    </ngx-spinner>
           
    




